//nav {
//  background-color: #e8ecf8;
//}

.nav-wrapper image {
  display: inline-block;
  height: 100%;
  width: 50px;
}

.form-element {
  padding: 13px 10px;
}
.form-element label {
  font-size: 1rem;
  color: initial;
}
.reset-btn {
  margin-right: 15px;
}
input.form-field {
  height: 2.2rem;
}
//Container
//.container {
//  background-color: #bdbdbd;
//}
//footer
footer {
  background-color: #e8ecf8;
  margin-top: 20px;
}
footer .social-sites a {
  float: right;
  display: inline-block;
}
.footer-main {
  padding: 20px 0 12px;
  margin: 0;
  font-size: 13px;
}
footer .row {
  margin: 0;
}
.left.brand-logo {
  color: initial;
}

.home-btn {
  margin: 200px 0;
}

.button-wrap {
  text-align: center;
}
